.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 51px;
  width: 79px;
  color: #0096ff;
  flex-shrink: 0;
  margin: 0px 276px 0px 0px;
}
.tilt__u3Ori:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
._switch__tRnj6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 192px;
  margin-left: 0px;
  margin-right: 160px;
}
.tilt__v2Rrm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
._switch__kqCPd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 208px;
  margin-left: 0px;
  margin-right: 145px;
}
