@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-rETGI1JHi: #02bdfa;
  --plasmic-token-unnamed-style-token: var(--token-rETGI1JHi);
}

.plasmic_default_styles {
  --mixin-I1bSWTuz7Mzr_font-family: "Inter";
  --mixin-I1bSWTuz7Mzr_font-size: 16px;
  --mixin-I1bSWTuz7Mzr_font-weight: 400;
  --mixin-I1bSWTuz7Mzr_font-style: normal;
  --mixin-I1bSWTuz7Mzr_color: #535353;
  --mixin-I1bSWTuz7Mzr_text-align: left;
  --mixin-I1bSWTuz7Mzr_text-transform: none;
  --mixin-I1bSWTuz7Mzr_line-height: 1.5;
  --mixin-I1bSWTuz7Mzr_letter-spacing: normal;
  --mixin-I1bSWTuz7Mzr_white-space: pre-wrap;
  --mixin-I1bSWTuz7Mzr_user-select: text;
  --mixin-I1bSWTuz7Mzr_text-decoration-line: none;
  --mixin-I1bSWTuz7Mzr_text-overflow: clip;
  --mixin-d1GBsJOwfirP_font-family: "Inter";
  --mixin-d1GBsJOwfirP_color: #000000;
  --mixin-d1GBsJOwfirP_font-size: 24px;
  --mixin-d1GBsJOwfirP_font-weight: 600;
  --mixin-d1GBsJOwfirP_letter-spacing: -0.5px;
  --mixin-d1GBsJOwfirP_line-height: 1.3;
  --mixin-vxPuvp6JzQft_font-family: "Inter";
  --mixin-vxPuvp6JzQft_color: #000000;
  --mixin-vxPuvp6JzQft_font-size: 20px;
  --mixin-vxPuvp6JzQft_font-weight: 600;
  --mixin-vxPuvp6JzQft_letter-spacing: -0.3px;
  --mixin-vxPuvp6JzQft_line-height: 1.5;
  --mixin-c5kNDWXywKiR_font-family: "Inter";
  --mixin-c5kNDWXywKiR_color: #000000;
  --mixin-c5kNDWXywKiR_font-size: 16px;
  --mixin-c5kNDWXywKiR_font-weight: 600;
  --mixin-c5kNDWXywKiR_line-height: 1.5;
  --mixin-_fFoSr7s26Ya_color: #0070f3;
  --mixin--rW_qxrt8Zwn_border-left-color: #dddddd;
  --mixin--rW_qxrt8Zwn_border-left-style: solid;
  --mixin--rW_qxrt8Zwn_border-left-width: 3px;
  --mixin--rW_qxrt8Zwn_color: #888888;
  --mixin--rW_qxrt8Zwn_padding-left: 10px;
  --mixin-vSUjqW7XcKMj_font-family: "Inter";
  --mixin-vSUjqW7XcKMj_color: #000000;
  --mixin-vSUjqW7XcKMj_font-size: 72px;
  --mixin-vSUjqW7XcKMj_font-weight: 900;
  --mixin-vSUjqW7XcKMj_letter-spacing: -4px;
  --mixin-vSUjqW7XcKMj_line-height: 1;
  --mixin-v-DO3hn57N6K_font-family: "Inter";
  --mixin-v-DO3hn57N6K_color: #000000;
  --mixin-v-DO3hn57N6K_font-size: 48px;
  --mixin-v-DO3hn57N6K_font-weight: 700;
  --mixin-v-DO3hn57N6K_letter-spacing: -1px;
  --mixin-v-DO3hn57N6K_line-height: 1.1;
  --mixin-doVLrN7nXoi8_font-family: "Inter";
  --mixin-doVLrN7nXoi8_color: #000000;
  --mixin-doVLrN7nXoi8_font-size: 32px;
  --mixin-doVLrN7nXoi8_font-weight: 600;
  --mixin-doVLrN7nXoi8_letter-spacing: -0.8px;
  --mixin-doVLrN7nXoi8_line-height: 1.2;
  --mixin-8KN42CDxMbsq_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-8KN42CDxMbsq_border-bottom-color: #dddddd;
  --mixin-8KN42CDxMbsq_border-bottom-style: solid;
  --mixin-8KN42CDxMbsq_border-bottom-width: 1px;
  --mixin-8KN42CDxMbsq_border-left-color: #dddddd;
  --mixin-8KN42CDxMbsq_border-left-style: solid;
  --mixin-8KN42CDxMbsq_border-left-width: 1px;
  --mixin-8KN42CDxMbsq_border-right-color: #dddddd;
  --mixin-8KN42CDxMbsq_border-right-style: solid;
  --mixin-8KN42CDxMbsq_border-right-width: 1px;
  --mixin-8KN42CDxMbsq_border-top-color: #dddddd;
  --mixin-8KN42CDxMbsq_border-top-style: solid;
  --mixin-8KN42CDxMbsq_border-top-width: 1px;
  --mixin-8KN42CDxMbsq_border-bottom-left-radius: 3px;
  --mixin-8KN42CDxMbsq_border-bottom-right-radius: 3px;
  --mixin-8KN42CDxMbsq_border-top-left-radius: 3px;
  --mixin-8KN42CDxMbsq_border-top-right-radius: 3px;
  --mixin-8KN42CDxMbsq_font-family: "Inconsolata";
  --mixin-8KN42CDxMbsq_padding-bottom: 1px;
  --mixin-8KN42CDxMbsq_padding-left: 4px;
  --mixin-8KN42CDxMbsq_padding-right: 4px;
  --mixin-8KN42CDxMbsq_padding-top: 1px;
  --mixin-9faCu3Sw5sFlS_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-9faCu3Sw5sFlS_border-bottom-color: #dddddd;
  --mixin-9faCu3Sw5sFlS_border-bottom-style: solid;
  --mixin-9faCu3Sw5sFlS_border-bottom-width: 1px;
  --mixin-9faCu3Sw5sFlS_border-left-color: #dddddd;
  --mixin-9faCu3Sw5sFlS_border-left-style: solid;
  --mixin-9faCu3Sw5sFlS_border-left-width: 1px;
  --mixin-9faCu3Sw5sFlS_border-right-color: #dddddd;
  --mixin-9faCu3Sw5sFlS_border-right-style: solid;
  --mixin-9faCu3Sw5sFlS_border-right-width: 1px;
  --mixin-9faCu3Sw5sFlS_border-top-color: #dddddd;
  --mixin-9faCu3Sw5sFlS_border-top-style: solid;
  --mixin-9faCu3Sw5sFlS_border-top-width: 1px;
  --mixin-9faCu3Sw5sFlS_border-bottom-left-radius: 3px;
  --mixin-9faCu3Sw5sFlS_border-bottom-right-radius: 3px;
  --mixin-9faCu3Sw5sFlS_border-top-left-radius: 3px;
  --mixin-9faCu3Sw5sFlS_border-top-right-radius: 3px;
  --mixin-9faCu3Sw5sFlS_font-family: "Inconsolata";
  --mixin-9faCu3Sw5sFlS_padding-bottom: 3px;
  --mixin-9faCu3Sw5sFlS_padding-left: 6px;
  --mixin-9faCu3Sw5sFlS_padding-right: 6px;
  --mixin-9faCu3Sw5sFlS_padding-top: 3px;
  --mixin-zxA42LaDl2hTt_display: flex;
  --mixin-zxA42LaDl2hTt_flex-direction: column;
  --mixin-zxA42LaDl2hTt_align-items: stretch;
  --mixin-zxA42LaDl2hTt_justify-content: flex-start;
  --mixin-zxA42LaDl2hTt_list-style-position: outside;
  --mixin-zxA42LaDl2hTt_padding-left: 40px;
  --mixin-zxA42LaDl2hTt_position: relative;
  --mixin-zxA42LaDl2hTt_list-style-type: decimal;
  --mixin-rA03ZRSE2zaSB_display: flex;
  --mixin-rA03ZRSE2zaSB_flex-direction: column;
  --mixin-rA03ZRSE2zaSB_align-items: stretch;
  --mixin-rA03ZRSE2zaSB_justify-content: flex-start;
  --mixin-rA03ZRSE2zaSB_list-style-position: outside;
  --mixin-rA03ZRSE2zaSB_padding-left: 40px;
  --mixin-rA03ZRSE2zaSB_position: relative;
  --mixin-rA03ZRSE2zaSB_list-style-type: disc;
  --mixin-_kt96L0qB4noo_color: #3291ff;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_rich_text *),
:where(.__wab_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_rich_text img),
:where(.__wab_text img) {
}

:where(.li) {
  display: list-item;
}
:where(.__wab_rich_text li),
:where(.__wab_text li) {
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_rich_text span),
:where(.__wab_text span) {
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text input),
:where(.__wab_text input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text textarea),
:where(.__wab_text textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text button),
:where(.__wab_text button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_rich_text code),
:where(.__wab_text code) {
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_rich_text pre),
:where(.__wab_text pre) {
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_rich_text p),
:where(.__wab_text p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h1),
:where(.__wab_text h1) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h2),
:where(.__wab_text h2) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h3),
:where(.__wab_text h3) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h4),
:where(.__wab_text h4) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h5),
:where(.__wab_text h5) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h6),
:where(.__wab_text h6) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_rich_text address),
:where(.__wab_text address) {
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_rich_text a),
:where(.__wab_text a) {
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_rich_text ol),
:where(.__wab_text ol) {
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_rich_text ul),
:where(.__wab_text ul) {
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_rich_text select),
:where(.__wab_text select) {
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-I1bSWTuz7Mzr_font-family);
  font-size: var(--mixin-I1bSWTuz7Mzr_font-size);
  font-weight: var(--mixin-I1bSWTuz7Mzr_font-weight);
  font-style: var(--mixin-I1bSWTuz7Mzr_font-style);
  color: var(--mixin-I1bSWTuz7Mzr_color);
  text-align: var(--mixin-I1bSWTuz7Mzr_text-align);
  text-transform: var(--mixin-I1bSWTuz7Mzr_text-transform);
  line-height: var(--mixin-I1bSWTuz7Mzr_line-height);
  letter-spacing: var(--mixin-I1bSWTuz7Mzr_letter-spacing);
  white-space: var(--mixin-I1bSWTuz7Mzr_white-space);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-d1GBsJOwfirP_font-family);
  color: var(--mixin-d1GBsJOwfirP_color);
  font-size: var(--mixin-d1GBsJOwfirP_font-size);
  font-weight: var(--mixin-d1GBsJOwfirP_font-weight);
  letter-spacing: var(--mixin-d1GBsJOwfirP_letter-spacing);
  line-height: var(--mixin-d1GBsJOwfirP_line-height);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-vxPuvp6JzQft_font-family);
  color: var(--mixin-vxPuvp6JzQft_color);
  font-size: var(--mixin-vxPuvp6JzQft_font-size);
  font-weight: var(--mixin-vxPuvp6JzQft_font-weight);
  letter-spacing: var(--mixin-vxPuvp6JzQft_letter-spacing);
  line-height: var(--mixin-vxPuvp6JzQft_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-c5kNDWXywKiR_font-family);
  color: var(--mixin-c5kNDWXywKiR_color);
  font-size: var(--mixin-c5kNDWXywKiR_font-size);
  font-weight: var(--mixin-c5kNDWXywKiR_font-weight);
  line-height: var(--mixin-c5kNDWXywKiR_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-_fFoSr7s26Ya_color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin--rW_qxrt8Zwn_color);
  padding-left: var(--mixin--rW_qxrt8Zwn_padding-left);
  border-left: var(--mixin--rW_qxrt8Zwn_border-left-width)
    var(--mixin--rW_qxrt8Zwn_border-left-style)
    var(--mixin--rW_qxrt8Zwn_border-left-color);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  font-family: var(--mixin-vSUjqW7XcKMj_font-family);
  color: var(--mixin-vSUjqW7XcKMj_color);
  font-size: var(--mixin-vSUjqW7XcKMj_font-size);
  font-weight: var(--mixin-vSUjqW7XcKMj_font-weight);
  letter-spacing: var(--mixin-vSUjqW7XcKMj_letter-spacing);
  line-height: var(--mixin-vSUjqW7XcKMj_line-height);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-v-DO3hn57N6K_font-family);
  color: var(--mixin-v-DO3hn57N6K_color);
  font-size: var(--mixin-v-DO3hn57N6K_font-size);
  font-weight: var(--mixin-v-DO3hn57N6K_font-weight);
  letter-spacing: var(--mixin-v-DO3hn57N6K_letter-spacing);
  line-height: var(--mixin-v-DO3hn57N6K_line-height);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-doVLrN7nXoi8_font-family);
  color: var(--mixin-doVLrN7nXoi8_color);
  font-size: var(--mixin-doVLrN7nXoi8_font-size);
  font-weight: var(--mixin-doVLrN7nXoi8_font-weight);
  letter-spacing: var(--mixin-doVLrN7nXoi8_letter-spacing);
  line-height: var(--mixin-doVLrN7nXoi8_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-8KN42CDxMbsq_background);
  font-family: var(--mixin-8KN42CDxMbsq_font-family);
  border-radius: var(--mixin-8KN42CDxMbsq_border-top-left-radius)
    var(--mixin-8KN42CDxMbsq_border-top-right-radius)
    var(--mixin-8KN42CDxMbsq_border-bottom-right-radius)
    var(--mixin-8KN42CDxMbsq_border-bottom-left-radius);
  padding: var(--mixin-8KN42CDxMbsq_padding-top)
    var(--mixin-8KN42CDxMbsq_padding-right)
    var(--mixin-8KN42CDxMbsq_padding-bottom)
    var(--mixin-8KN42CDxMbsq_padding-left);
  border-top: var(--mixin-8KN42CDxMbsq_border-top-width)
    var(--mixin-8KN42CDxMbsq_border-top-style)
    var(--mixin-8KN42CDxMbsq_border-top-color);
  border-right: var(--mixin-8KN42CDxMbsq_border-right-width)
    var(--mixin-8KN42CDxMbsq_border-right-style)
    var(--mixin-8KN42CDxMbsq_border-right-color);
  border-bottom: var(--mixin-8KN42CDxMbsq_border-bottom-width)
    var(--mixin-8KN42CDxMbsq_border-bottom-style)
    var(--mixin-8KN42CDxMbsq_border-bottom-color);
  border-left: var(--mixin-8KN42CDxMbsq_border-left-width)
    var(--mixin-8KN42CDxMbsq_border-left-style)
    var(--mixin-8KN42CDxMbsq_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-9faCu3Sw5sFlS_background);
  font-family: var(--mixin-9faCu3Sw5sFlS_font-family);
  border-radius: var(--mixin-9faCu3Sw5sFlS_border-top-left-radius)
    var(--mixin-9faCu3Sw5sFlS_border-top-right-radius)
    var(--mixin-9faCu3Sw5sFlS_border-bottom-right-radius)
    var(--mixin-9faCu3Sw5sFlS_border-bottom-left-radius);
  padding: var(--mixin-9faCu3Sw5sFlS_padding-top)
    var(--mixin-9faCu3Sw5sFlS_padding-right)
    var(--mixin-9faCu3Sw5sFlS_padding-bottom)
    var(--mixin-9faCu3Sw5sFlS_padding-left);
  border-top: var(--mixin-9faCu3Sw5sFlS_border-top-width)
    var(--mixin-9faCu3Sw5sFlS_border-top-style)
    var(--mixin-9faCu3Sw5sFlS_border-top-color);
  border-right: var(--mixin-9faCu3Sw5sFlS_border-right-width)
    var(--mixin-9faCu3Sw5sFlS_border-right-style)
    var(--mixin-9faCu3Sw5sFlS_border-right-color);
  border-bottom: var(--mixin-9faCu3Sw5sFlS_border-bottom-width)
    var(--mixin-9faCu3Sw5sFlS_border-bottom-style)
    var(--mixin-9faCu3Sw5sFlS_border-bottom-color);
  border-left: var(--mixin-9faCu3Sw5sFlS_border-left-width)
    var(--mixin-9faCu3Sw5sFlS_border-left-style)
    var(--mixin-9faCu3Sw5sFlS_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-zxA42LaDl2hTt_display);
  flex-direction: var(--mixin-zxA42LaDl2hTt_flex-direction);
  align-items: var(--mixin-zxA42LaDl2hTt_align-items);
  justify-content: var(--mixin-zxA42LaDl2hTt_justify-content);
  list-style-position: var(--mixin-zxA42LaDl2hTt_list-style-position);
  padding-left: var(--mixin-zxA42LaDl2hTt_padding-left);
  position: var(--mixin-zxA42LaDl2hTt_position);
  list-style-type: var(--mixin-zxA42LaDl2hTt_list-style-type);
  flex-column-gap: var(--mixin-zxA42LaDl2hTt_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-rA03ZRSE2zaSB_display);
  flex-direction: var(--mixin-rA03ZRSE2zaSB_flex-direction);
  align-items: var(--mixin-rA03ZRSE2zaSB_align-items);
  justify-content: var(--mixin-rA03ZRSE2zaSB_justify-content);
  list-style-position: var(--mixin-rA03ZRSE2zaSB_list-style-position);
  padding-left: var(--mixin-rA03ZRSE2zaSB_padding-left);
  position: var(--mixin-rA03ZRSE2zaSB_position);
  list-style-type: var(--mixin-rA03ZRSE2zaSB_list-style-type);
  flex-column-gap: var(--mixin-rA03ZRSE2zaSB_flex-column-gap);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-_kt96L0qB4noo_color);
}
